
params {
    modality = 'rna'
    samplesheet = "./data/samplesheet.csv"  // Default to local samplesheet.csv
    outdir = "/research/groups/northcgrp/home/common/Rachel/sc_workflow/output"
    species = "human"
    genome_ref = null
    gtf = null
    workdir = null  // Default to params.outdir if not provided
    selected_samples = null  // Default to merge all samples if not specified
    selected_batches_file = null  // Default to merge all batches if not specified
}


process {
    executor = 'lsf'

    withLabel: process_med {
        cpus = 1
        memory = '32GB'
    }

    withLabel: process_high {
        cpus = 12
        memory = '32GB'
    }

    withLabel: process_high_single {
        cpus = 1
        memory = '200GB'
    }

    withLabel: process_gpu_high {
        cpus = 1
        memory = '100GB'
        queue = 'gpu'
        clusterOptions = '-P cellbender_gpu -gpu "num=1/host" -R "span[hosts=1]"'
    }
}

profiles {
    // conda needs to be enabled in the new nextflow version
    conda.enabled = true
}
